################################################################################
# Anonymous multiline arrow function
################################################################################
snippet =
	(${1}) => {
		${2}
	}
################################################################################
# Anonymous multiline arrow function
################################################################################
snippet -
	(${1}) => ${2}
